body {
  background: linear-gradient(to bottom right, #55566a, #282834);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.3em;
  min-height: 1.5em;
}

/* .navbar {
  background-color: transparent !important; 
} */

button {
  height: 50%;
  margin: 2em;
}

/* Solución al error de los botones*/
span {
  pointer-events: none;
}

.titulo {
  color: lightsteelblue;
  font-family: sans-serif;
  font-size: 4em;
  font-weight: 900;
  line-height: 0.8em;
  text-shadow: 4px 4px 0px #2a2e30;
  margin: 0.2em;
}

/* Por ahora no tengo elementos H2 */
/* h2 {
  color: rgb(186, 216, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1em;
  margin: 0.2em;
} */

p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  line-height: 0.5em;
}

.middle-container {
  width: 98vw;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  padding: 0.5em;
  justify-content: space-evenly;
  flex: 1;
}

.tarjeta {
  width: 400px;
  height: 400px;
  text-align: center;
  background-color: lightslategray;
  border: 1px solid black;
  padding: 2em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tarjeta-producto {
  flex: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.tarjeta-boton {
  flex: 1;
}

.tarjeta-precio {
  padding-top: 1em;
}

h4 {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  margin: 0.2em;
}