/* Estilos generales */

.body {
  background: linear-gradient(to bottom right, #55566a, #282834);
  min-height: 100vh;
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  position: fixed;
  height: 50px;
  background-color: #282834;
  z-index: 10;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  padding: 0.3em;
  min-height: 1.5em;
}

/* Solución al error de los botones */
span, i {
  pointer-events: none;
}

.navbar-principal {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.navbar__titulo {
  color: lightsteelblue;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: 900;
  line-height: 0.8em;
  text-shadow: 4px 4px 0px #2a2e30;
  margin: 0.2em;
  padding-left: 5em;
}

.navbar__buscador {
  display: flex;
}

.navbar__boton {
  margin: 0 2em;
}

.main {
  width: 98vw;
  flex: 1;
  padding: 1em 0;
  margin-top: 50px;
}

.middle-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: space-evenly;
}

.borderless {
  border: none;
}

.producto {
  width: 200px;
  height: 300px;
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.producto__img {
  height: 60%;
}

.producto__info {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
}

.producto__titulo {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  margin: 0.2em;
}

.producto__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.producto__precio {
  line-height: normal;
}


/* Estilos específicos del nuevo carrito */

.nuevo-carrito {
  width: 400px;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 66px 0 16px;
  position: fixed;
  bottom: 0;
  right: -400px;
  transition: right 0.5s ease;
  z-index: 5;
}

.mostrar {
  right: 0;
}

.nuevo-carrito__contenedor {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.nuevo-carrito__cabecera {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 2px solid black;
  margin-bottom: 1em;
}

.nuevo-carrito__cabecera-titulo {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  margin-top: 1rem;
}

.nuevo-carrito__productos {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  overflow-x: hidden;
}

.nuevo-carrito__producto {
  text-align: center;
  background-color: white;
  border: 2px solid black;
  padding: 1em;
  border-radius: 10px;
}

.nuevo-carrito__producto-cabecera {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nuevo-carrito__producto-cabecera-nombre {
  font-size: 1.2em;
  font-family: sans-serif;
  margin: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nuevo-carrito__producto-cabecera-eliminar {
  font-size: 1.5em;
}

.nuevo-carrito__producto-cuerpo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nuevo-carrito__producto-cuerpo-botones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  margin-left: 1em;
}

.nuevo-carrito__producto-cuerpo-cantidad {
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1.8em;
  font-weight: 500;
  padding: 1.5em 1em 1em;
}

.nuevo-carrito__compra {
  border-radius: 10px;
  border: 2px solid black;
  margin-top: 1em;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.nuevo-carrito__compra-precio {
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: 600;
}